<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Office Management Console</title>

        <link rel="stylesheet" type="text/css" href="/css/<%= grunt.config.get('pkg.name') %>.css"/>
    </head>

    <body ng-controller="AppController">
        <div ng-include="'header.tpl.html'"></div>
        <div growl></div>
        <div ui-view="mainContentPane"></div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/angular.js"></script>
        <script type="text/javascript" src="/js/angular-ui.js"></script>
        <script type="text/javascript" src="/js/angular-growl-2.js"></script>
        <script type="text/javascript" src="/js/<%= grunt.config.get('pkg.name') %>.js"></script>
    </body>
</html>
