<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-4">
            <div class="fixed-box-left">
                <div class="btn-group-vertical" role="group">
                    <button class="btn btn-primary btn-lg" ui-sref="accounts.new">Create Account</button>
                </div>
            </div>
        </div>
        <div class="col-lg-11 col-md-8">
            <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th class="span1">UUID</th>
                        <th class="span5">Name</th>
                        <th class="span1">MMA</th>
                        <th class="span2">Created</th>
                        <th class="span3">Allowed Out Channels</th>
                        <th class="span1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in accounts">
                        <td ng-click="editAccount(account)">{{account.uuid}}</td>
                        <td ng-click="editAccount(account)">{{account.name}}</td>
                        <td ng-click="editAccount(account)">{{account.mmaId}}</td>
                        <td ng-click="editAccount(account)">{{account.createdAt | date:'dd.MM.yyyy HH:mm:ss Z'}}</td>
                        <td ng-click="editAccount(account)">{{account.allowedOutChannels.join(' >> ')}}</td>
                        <td ng-click="deleteAccount(account)" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" tooltip-placement="left" tooltip="Delete account '{{account.name}}'"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
